In [1]:
import pandas as pd

data = pd.read_csv("../../Data/data_sim.csv")
data.head()

   L0_male  L0_parent_low_educ_lv  A0_ace  L1  M_smoking  Y_death      Y_qol
0        0                      1       0   1          0        0  91.918186
1        1                      1       1   0          0        1  67.532215
2        1                      1       0   0          0        0  75.562491
3        1                      0       0   0          0        0  89.770552
4        1                      1       0   1          1        1  63.223530

In [4]:
print(data.head().to_latex(index=False))

\begin{tabular}{rrrrrrr}
\toprule
 L0\_male &  L0\_parent\_low\_educ\_lv &  A0\_ace &  L1 &  M\_smoking &  Y\_death &     Y\_qol \\
\midrule
       0 &                      1 &       0 &   1 &          0 &        0 & 91.918186 \\
       1 &                      1 &       1 &   0 &          0 &        1 & 67.532215 \\
       1 &                      1 &       0 &   0 &          0 &        0 & 75.562491 \\
       1 &                      0 &       0 &   0 &          0 &        0 & 89.770552 \\
       1 &                      1 &       0 &   1 &          1 &        1 & 63.223530 \\
\bottomrule
\end{tabular}